<footer id="footer" class="footer">
  <div class="footer-top">
    <div class="footer-brand">
     <img src="logo.png" alt="logo">
      <p>
        The all-in-one platform that connects customers, designers, and
        manufacturers in one seamless workflow.
      </p>
    </div>
    <div class="footer-links-grid">
      <div class="footer-col">
        <h4>Platform</h4>
        <a href="#" (click)="scrollTo('top', $event)">Features</a>
        <a href="#how-it-works" (click)="scrollTo('how-it-works', $event)">How It Works</a>
        <a href="#">Pricing</a>
        <a routerLink="/login">Log In</a>
      </div>
      <div class="footer-col">
        <h4>Solutions</h4>
        <a href="#">Custom Orders</a>
        <a href="#">AI Design</a>
        <a href="#">Manufacturing</a>
        <a href="#">Order Tracking</a>
      </div>
      <div class="footer-col">
        <h4>Company</h4>
        <a href="#">About Us</a>
        <a href="#">Blog</a>
        <a href="#footer" (click)="scrollTo('footer', $event)">Contact Us</a>
        <a href="#">FAQ</a>
        <a href="#">Support</a>
      </div>
    </div>
    <div class="footer-newsletter">
      <h4>Payment Methods</h4>
      <div class="payment-methods">
        <img src="pay.png" alt="PayPal" />
        <img src="visa.png" alt="Visa" />
        <img src="mastercard.png" alt="MasterCard" />
        <img src="paypal.png" alt="PayPal" />
        <img src="vod.png" alt="PayPal" />
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2026 Design To Dress. All rights reserved.</p>
    <div class="footer-legal">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms Of Service</a>
    </div>
  </div>
</footer>
